.Calc {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Calc-Screen {
  position: relative;
  height: 20px;
  width: 242px;
  overflow-y: hidden;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0px;
  background-color: white;
  color: black;
  text-align: left;
  font-family: 'Orbitron', monospace;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.Calc-Screen::after {
  content: attr(data-operator);
  position: absolute;
  right: 1em;
  bottom: 3px;
  font-size: 20px;
}

.Calc-Row {
  display: flex;
  flex-direction: row;
}

.Calc-Column {
  display: flex;
  flex-direction: column;
}

.Calc-Row > div:not(.Calc-Column){
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
}

.Calc-Row > div:not(.Calc-Column):hover {
  background: rgba(255, 255, 255, 0.2);
}

.Calc-Row--tall > div:not(.Calc-Column){
  height: 100px;
  line-height: 100px;
}
